html
    head
        title #{title}
        link(rel="stylesheet", href="css/favorite.css")
    body
        if heroes
            each hero in heroes
                if heroes.id
                    .container
                        .movie-card
                            .heroInformatin
                                h1= hero.hero_id
                    form(action="/" + hero.id method="post")
                        button(class="button" type="submit") -
                            
